/* Thanks to w3schools.com for css help */

/* Style the tab bar */
.ContactTab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.ContactTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.ContactTab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.ContactTab button.active {
    background-color: #ccc;
}

.InputForm {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Style the tab content */
.TabContent {
    display: none;
    padding: none;
    /* border: 1px solid #ccc;
    border-top: none; */
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}
