<mat-tab-group color="accent">
  <mat-tab label="View List">
    <app-list></app-list>
  </mat-tab>
  <mat-tab label="Add Contact" class="add-contact">
    <div class="form-container">
      <div class="inner-form">
        <form id="personal-form" [formGroup]="personalForm" (ngSubmit)="onPersonal()">
          <mat-form-field appearance="legacy" floatLabel="never">
            <input matInput formControlName="firstName" required>
            <mat-placeholder class="placeholder">First Name</mat-placeholder>
          </mat-form-field>
          <mat-form-field appearance="legacy" floatLabel="never">
            <input matInput formControlName="lastName" required>
            <mat-placeholder class="placeholder">Last Name</mat-placeholder>
          </mat-form-field>
          <mat-form-field appearance="legacy" floatLabel="never">
            <input matInput formControlName="phoneNumber" required>
            <mat-placeholder class="placeholder">Phone Number</mat-placeholder>
          </mat-form-field>
          <mat-form-field appearance="legacy" floatLabel="never">
            <input matInput formControlName="email" required>
            <mat-placeholder class="placeholder">Email Address</mat-placeholder>
          </mat-form-field>
          <button mat-raised-button color="accent">Add Contact</button>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Export">
    <app-export></app-export>
  </mat-tab>
</mat-tab-group>
