/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

@import '~@angular/material/theming';

@include mat-core();

$theme1: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-pink), mat-palette($mat-red));
$theme2: mat-light-theme(mat-palette($mat-green), mat-palette($mat-purple), mat-palette($mat-red));
$theme3: mat-light-theme(mat-palette($mat-blue-grey), mat-palette($mat-amber), mat-palette($mat-red));
$theme4: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-deep-orange), mat-palette($mat-red));


.theme1 {
    @include angular-material-theme($theme1);
}

.theme2 {
    @include angular-material-theme($theme2);
}

.theme3 {
    @include angular-material-theme($theme3);
}

.theme4 {
    @include angular-material-theme($theme4);
}